@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #FFFFFA;
}

.headerPedidos {
    background-color: #FFFFFA;
    text-align: center;
    font-size: 1.5rem;
} 

/* INCIA NAVBAR*/

.bg-grey {
    background-color: #464646;
}

/*LOGO DE LA NAV*/
.logoPanaderia {
    max-height: 50px;
    margin: 3px;
}

    /*A*/
    .links-lista {
        color: #FFFFFA;
        text-decoration: none;
        list-style: none;
        font-weight: lighter;
        font-size: 2rem;
    }

    /*HOVER A*/
    .links-lista:hover {
        color: #FF6600;
        transition: 0.5s;
        border-radius: 4px;
        cursor: pointer;
    }

/*TERMINA NAVBAR*/

/* INICIA IMAGEN PRINCIPAL Y TITULO PRINCIPAL*/
.header {
    width: 100%;
    position: relative;
    text-align: center;
    display: inline-block;
}
    
    .h1Header {
        color: #FFFFFA;
        position: absolute;
        top: 45%;
        left: 50%;
        font-family: 'Cinzel', serif;
        font-size: 2.7rem;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    
    .imagenHeader {
        width: 100%;
        }
/*TERMINA IMAGEN PRINCIPAL Y TITULO PRINCIPAL*/

/* INICIA TITULOS SECUNDARIOS*/
.h2Titulo {
    color: #464646;
    font-size: 1.5rem;
    text-align: center;
    padding: 6px;
}

.h3Subtitulo {
    font-size: 1.7rem;
    text-decoration: underline;
    padding: 6px;
}
/* TERMINA TITULOS SECUNDARIOS*/

/*INICIA SECCIONES*/
.contenedorSeccion {
    font-size: 1.5rem;
    color: #464646;
    display: flex;
    flex-direction: column;
    margin: 12px;
}

    .contenedorArticulos {
        display: flex;
        flex-direction: column;
    }

        .articulo {
            text-align: center;
            padding: 6px;
        }

            .imagenServiciosNosotros {
                padding: 6px;
            }

            .texto{
                font-size: 1.5rem;
                padding: 3px;
                text-align: center;
            }
/*TERMINA SECCIONES*/

/*INICIA SECCION PRODUCTOS*/
.contenedorProductos {
    display: flex;
    flex-direction: column;
    color: #464646;
    font-size: 1.5rem;
    padding: 0px;
    margin: 12px;
}

    .producto {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6px;
        width: 100%;
    }

        .infoProducto {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

            .imagen {
                width: 100%;
                max-width: 450px;
            }

                .botonComprar {
                    font-size: 1.5rem;
                    padding: 3px;
                    width: 100px;
                    border-radius: 5px;
                    border-style: solid;
                    margin: 6px 0px;
                }

                .botonComprar:hover {
                    background-color: #FF6600;
                    transition: 0.5s;
                    color: white;
                }
/*TERMINA SECCION PRODUCTOS*/

/*INICIO FORMULARIO Y CONTACTO*/
.contenedorFormulario {
    color: #464646;
    display: flex;
    flex-direction: column;
    margin: 12px;
}

    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 6px;
    }

        .contenedorCasillas {
            display: flex;
            flex-direction: column;
            gap: 3px;
            border: none;
            padding: 6px;
        }

            .casilla {
                font-size: 1.5rem;
                padding: 6px;
            }

            .inputCasilla {
                font-size: 1.5rem;
                padding: 3px;
                margin: 0px 6px;
                border-radius: 3px;
                border-style: solid;
            }

            .botonEnviar {
                font-size: 1.5rem;
                padding: 3px;
                width: 100%;
                border-radius: 5px;
                border-style: solid;
                margin: 6px 0px;
            }

                .botonEnviar:hover {
                    background-color: #FF6600;
                    transition: 0.5s;
                    color: white;
                }

        .map {
            width: 100%;
            overflow: hidden;
            padding: 6px;
            display: flex;
            flex-direction: column;
            align-self: center;
        }
/*TERMINA FORMULARIO Y CONTACTO*/

/*EMPIEZA FOOTER*/
.contenedorFooter{
    font-size: 1.5rem;
    color: #464646;
    display: flex;
    flex-direction: column;
    margin: 12px;
}

    .informacionContacto{
        text-align: center;
        padding: 3px;
    }

    .redesSociales{
        text-align: center;
        }
    
    .logosRedes{
        text-align: center;
        padding-top: 6px;
    }
/*TERMINA FOOTER*/