@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #FFFFFA;
}

.headerPedidos {
    background-color: #FFFFFA;
    text-align: center;
    font-size: 1.5rem;
} 

/*------------------INCIA NAVBAR------------------*/

.bg-grey {
    background-color: #464646;
}

/*LOGO DE LA NAV*/
.logoPanaderia {
    max-height: 50px;
    margin: 3px;
}

    /*A*/
    .links-lista {
        color: #FFFFFA;
        text-decoration: none;
        list-style: none;
        font-weight: lighter;
        font-size: 2rem;
    }

    /*HOVER A*/
    .links-lista:hover {
        color: #FF6600;
        transition: 0.5s;
        border-radius: 4px;
        cursor: pointer;
    }

/*------------------TERMINA NAVBAR------------------*/

/*------------------INICIA IMAGEN PRINCIPAL Y TITULO PRINCIPAL------------------*/

.header {
    width: 100%;
    position: relative;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}
    
    .h1Header {
        color: #FFFFFA;
        position: absolute;
        top: 45%;
        left: 50%;
        font-family: 'Cinzel', serif;
        font-size: 2.7rem;
        transform: translate(-50%, -50%);
        width: 100%;
        transition: 0.5s;
    }
    
    .imagenHeader {
        width: 100%;
        }

/*------------------TERMINA IMAGEN PRINCIPAL Y TITULO PRINCIPAL------------------*/

/*------------------INICIA TITULOS SECUNDARIOS------------------*/

    .h2Titulo {
    color: #464646;
    font-size: 1.5rem;
    text-align: center;
    padding: 6px;
    transition: 0.5s;
}

    .h3Subtitulo {
        font-size: 1.7rem;
        text-decoration: underline;
        padding: 6px;
        text-align: center;
        transition: 0.5s;
    }

/*------------------TERMINA TITULOS SECUNDARIOS------------------*/

/*------------------INICIA SECCIONES------------------*/

.container-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .articulo {
        width: 100%;
    }

        .imagenServiciosNosotros {
            text-align: center;
        }

        .texto {
            font-size: 1.5rem;
            padding: 6px;
            text-align: center;
            max-width: 600px;
            margin: auto;
        }

/*------------------TERMINA SECCIONES------------------*/

/*------------------INICIA FORMULARIO------------------*/

/*------------------TERMINA FORMULARIO------------------*/

/*------------------INICIA PRODUCTOS------------------*/

.imagen-producto {
    text-align: center;
}

.imagen-producto-width {
    width: 100%;
    max-width: 400px;
}

/*------------------INICIA PRODUCTOS------------------*/

/*------------------EMPIEZA FOOTER------------------*/
.contenedorFooter{
    font-size: 1.5rem;
    color: #464646;
    display: flex;
    flex-direction: column;
    margin: 12px;
}

    .informacionContacto{
        text-align: center;
        padding: 3px;
    }

    .redesSociales{
        text-align: center;
        }
    
    .logosRedes{
        text-align: center;
        padding-top: 6px;
    }
/*------------------TERMINA FOOTER------------------*/

/*-----------------------------------------------------------*/

/*RESOLUCION 768*/

/*------------------INICIA IMAGEN PRINCIPAL Y TITULO PRINCIPAL------------------*/

@media (min-width: 768px) {

        .h1Header {
        font-size: 3.5rem;
    }

/*------------------TERMINE IMAGEN PRINCIPAL Y TITULO PRINCIPAL------------------*/

/*------------------INICIA TITULOS SECUNDARIOS------------------*/

.h2Titulo {
    font-size: 2rem;
}

.h3Subtitulo {
    font-size: 2.5rem;
}

/*------------------TERMINA TITULOS SECUNDARIOS------------------*/

/*------------------INICIA SECCIONES------------------*/

.container-section {
    flex-direction: row;
    justify-content: space-between;
}

    .articulo {
        width: 33%;
    }

    .texto {
        font-size: 1.7rem;
    }

/*------------------TERMINA SECCIONES------------------*/












}